/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 15px;
}

a {
    color: #f44336;
}

#header {
    font-size: 12px;
    padding: 1px;
    background-color: #f44336;
    text-align: left;
    padding-left: 25px;
    z-index: 999;
    color: #ecf0f1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#header:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
}

/* OVERRIDE DEFAULT PLOTLY CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rc-slider-track {
    background-color: #ef5350;
}

.rc-slider-handle, .rc-slider-dot-active {
    border-color: #ef5350;
}

.rc-slider-handle:hover {
    border-color: #ef5350;
}

#query-dropdown .Select--multi .Select-value, #field-dropdown .Select--multi .Select-value {
  background-color: #ef5350;
  /* Fallback color for IE 8 */
  border-radius: 2px;
  border: 1px solid #ef5350;
  /* Fallback color for IE 8 */
  color: white;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}

#query-dropdown .Select-value-icon:hover, #field-dropdown .Select-value-icon:hover {
    background-color: white;
    color: #ef5350;
}

#query-dropdown .Select-value-icon, #field-dropdown .Select-value-icon {
    border-right: 1px solid #ef5350;
}


/* Side Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#side-bar {
    padding-top: 40px;
    width: 350px;
    height: calc(100vh - 100px);
    text-align: center;
    overflow: scroll;
    position: fixed;
    z-index: 9;
    background-color: rgba(0,0,0,0.002);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#search-button {
    font-size: 15px;
    border-radius: 3px;
    padding: 13px;
    background-color: #f44336;
    color: #ecf0f1;
    width: 40%;
    margin-bottom: 20px;
    border-color: #e53935;
}

#search-button:hover {
    background-color: #e53935;
}

#query_components {
    width: 92%;
    margin-left: 4%;
}

.component {
    //order: 1px dotted rgba(0,0,0,0.22);
    border-radius: 5px;
    margin-bottom: 10px;
    height: 90px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: left;
}

.component:hover {
    background-color: white;
}

.component-label {
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: 15px;
}

.input-component, .slider-component, .radio-component {
    width: 85%;
    margin-left: 7.5%;
}

.radio-component {
    margin: 20px;
}

/* Search Page Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#search-main {
    padding-top: 40px;
    margin-bottom: 20px;
    overflow: scroll;
    position: fixed;
    padding-left: calc(375px + 0.05 * (100% - 375px));
    width: calc(100% - 375px);
    height: calc(100vh - 100px);
}

#query-dropdown, #field-dropdown {
    width: 90%;
    margin-bottom: 10px;
}

#search-table {
    width: 100%;
    text-align: center;
}

#table-selectors {
    margin-top: 20px;
    width: 90%;
    display: inline-block;
    //background-color: red;
}

#row-count-selector {
    width: 70px;
    display: inline-block;
}

#table-page-selector {
    float: right;
}

#table-backward, #table-forward {
    background-color: white;
    border: 1px solid white;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    padding: 7px;
    padding-right: 10px;
    padding-left: 10px;
}

#table-backward:hover, #table-forward:hover{
    border: 1px solid #D3D3D3;
    border-radius: 2px;
}

#table-page-index {
    display: inline-block;
}

#search-table {
    margin-top: 25px;
    width: 90%;
}


#search-table tr:nth-child(even) {
  background: rgba(0,0,0,0.04);
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button {
    position: relative;
    display: block;
    margin: 0 auto;

    overflow: hidden;
    outline: none;
    transition: background-color .3s;
}

/* Input Boxes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type=text] {
    width: 90%;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
}

input[type=radio] {
    margin-left: 50px;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
}


/* Scroll Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#side-bar::-webkit-scrollbar {
    width: 0px;
}

#side-bar::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  width: 0px;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: 18px;
    //border-bottom: 1px solid rgba(0,0,0,0.08);
}
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }




